*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:url("background.jpg") center center/cover no-repeat fixed;
    color:white;
}

.overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.65);
    backdrop-filter: blur(3px);
    z-index:-1;
}

.container{
    min-height:100vh;
    display:flex;
    align-items:center;
    padding:50px;
}

.menu{
    width:350px;
}

.menu h1{
    font-size:55px;
    letter-spacing:4px;
}

.subtitle{
    margin-bottom:30px;
    color:#bbb;
}

.menu ul{
    list-style:none;
}

.menu li{
    margin:18px 0;
}

.menu a{
    color:white;
    text-decoration:none;
    font-size:20px;
    letter-spacing:2px;
    transition:.3s;
}

.menu a:hover{
    color:#d6c089;
    padding-left:15px;
}

.hero{
    margin-left:120px;
}

.hero h2{
    font-size:70px;
    letter-spacing:4px;
}

.hero p{
    color:#ccc;
    margin-top:10px;
}

section{
    min-height:100vh;
    padding:100px;
    background:#111;
}

section:nth-child(even){
    background:#181818;
}

section h2{
    font-size:40px;
    margin-bottom:30px;
}

.card{
    background:#222;
    padding:20px;
    border-radius:10px;
    margin-bottom:15px;
}

.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:15px;
}

.gallery img{
    width:100%;
    border-radius:10px;
    transition:.4s;
}

.gallery img:hover{
    transform:scale(1.05);
}

#social a{
    color:#fff;
    font-size:20px;
    text-decoration:none;
    display:inline-block;
    margin:10px 0;
}

#social a:hover{
    color:#d6c089;
}
