*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Inter',sans-serif;
    color:#fff;
    overflow-x:hidden;

    background:
    linear-gradient(
        rgba(0,0,0,.45),
        rgba(0,0,0,.75)
    ),
    url("images/background.jpg");

    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}

/* Film Grain */
body::before{
    content:"";
    position:fixed;
    inset:0;

    background:
    repeating-linear-gradient(
        transparent,
        transparent 2px,
        rgba(255,255,255,.015) 3px
    );

    pointer-events:none;
    z-index:999;
}

/* ===================== */
/* HOME */
/* ===================== */

.home{
    min-height:100vh;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 8%;
}

.menu{
    width:45%;
}

.logo{
    font-family:'Cinzel',serif;
    font-size:7rem;
    font-weight:700;
    line-height:.9;
    letter-spacing:2px;
}

.tagline{
    margin
